/* Begin Homepage, tot regel 140 */

body{
  background-color: #3d3006;
   /* overflow: hidden;  */
}
html{
scroll-behavior: smooth;
}
/* Nav Bar */
ul {
 /* position: sticky; */
  position: fixed;
  /* top: 0; */
  width: 99%; 
 top: 0px;
  list-style-type: none;
  margin: 0;
  margin-top: 8px;
  margin-right: 10px;
  padding: 0;
  /* padding-top: 60px; */
  overflow: hidden;
  background-color: #fefcf2;
  height: 68px;
  z-index: 10;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #000;
  font-family:'Fontfabric nexa rust sans 01',sans-serif  
}

 li {
  position: relative;
  float: left;
  color: transparent;
  z-index: 10;
} 

 li a {
  position: relative;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 10;  
} 
/* Nav Bar Tabs HOVER */
li a:hover {
  position: relative;
  background-color: #fdefa6;
  border: 1px solid #000;
  z-index: 10;
}
/* Logo In NavBar */
.logonav{
position:fixed;
right: 600px;
top: -16px;
float: right;
z-index: 10;
}

#logonav2{
background-color: transparent;
}



/* Reserveren BTN */
.reserveren{
  position:absolute; 
  right: 150px;
  top: 1px;
  z-index: 10;
  font-weight: 700;
  text-decoration: none;
  font-family:'Fontfabric nexa rust sans 01',sans-serif
} 

#reserverenlink{
  background-color: #e1f7b9;
  border: 1px solid #000;
}

/* Logo Homepage */

#logo{
position:absolute;
top: 250px;
right: 400px; 
z-index: 10;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

 #parallax1{
    max-height: 100%;
   max-width: 100%;  
} 

#parallax2{
  position:absolute;
  top: 1000px;
  height: 400px;
}

#parallax3{
  position: relative;
  top: 2000px;
  height: 400px;
}

#parallax4{
position: relative;
top: 3000px;
height: 400px;
}

#parallax5{
position: relative;
top: 4000px;
height: 400px;
}

#parallax6{
position: relative;
top: 5000px;
height: 400px;
}

/* begin Over */

/* begin menu */

/* begin reserveren */
.Reserveren{
  box-sizing: border-box;
  background-color: #3d3106;
  font-family: 'poppins', sans-serif;
  width: auto;
  height: 1000px;
}

.container-Reserveren{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax4 form{
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 1100px;
  border-radius: 10px;
}

#parallax4 form h1 {
  background-color: #d9d9d9;
  font-weight: 800;
  margin-bottom: 20px;
  align-self: center;
}

#parallax4 form p{
  background-color: #d9d9d9;
}

#parallax4 form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #ffffff;
  font-size: 16px;
}

#parallax4 form input{
  max-width: 500px;
}

#parallax4 form textarea{
  height: 150px;
  min-height: 100px;
  max-height: 300px;
  max-width: 1000px;
  min-width: 500px;
}

#parallax4 form button{
  padding: 15px;
  background: red;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 20px;
}

/* begin groepen */

/* begin contact */

.contact{
  box-sizing: border-box;
  background-color: #3d3106;
  font-family: 'poppins', sans-serif;
  width: auto;
  height: 1000px;
}

.container-contact{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-contactbalk{
  width: 100%;
  height: 200px;
  background-color: #3d3106;
}

.contactbalk{
  position: relative;
  margin: auto;
  width: 84%;
  height: 150px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.column{
  float: left;
  width: 41%;
  margin-left: 80px;
  padding-right: 20px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #3d3106;
  height: 150px;
  line-height: 40px
}

.column_rechts{
  float: left;
  width: 41%;
  margin-right: 80px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-left: 2px solid #3d3106;
  height: 150px;
}

.column_fb{
  float: left;
  width: 50%;
}

.column_fb img{
  height: 50px;
}

.column_ig img{
  height: 50px;
}

.column_ig{
  float: left;
  width: 50%;
}

.row:after{
  content: " ";
  display: table;
  clear: both;
}

#parallax6 form{
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 1100px;
  border-radius: 10px;
}

#parallax6 form h1 {
  background-color: #d9d9d9;
  font-weight: 800;
  margin-bottom: 20px;
  align-self: center;
}

#parallax6 form p{
  background-color: #d9d9d9;
}

#parallax6 form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #ffffff;
  font-size: 16px;
}

#parallax6 form input{
  max-width: 500px;
}

#parallax6 form textarea{
  height: 150px;
  min-height: 100px;
  max-height: 300px;
  max-width: 1000px;
  min-width: 500px;
}

#parallax6 form button{
  padding: 15px;
  background: red;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 20px;
}

