body{
    background-color: #4b371c;
}

/* grijze achtergrond-box*/
#background 
{
  width: 1400px;
  height: 1100px;
  background: rgb(144, 144, 144);
  position:absolute;
  top: 60px;
  left: 50px;
  overflow: hidden;
  z-index: -10;
}




.content{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
}

.background{
  color: #999999;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: -100;
  width: 1400px;
  height: 550px;
  background: rgb(123, 123, 123);
  position: relative;
 
}

/*Vakjes op de grijze box*/
#box_1 
{
  
  position: relative;
  top: 60px;
  left: 5%;
  width: 0px;
  height: auto;
  
}

#box_2 
{
  
  position: relative;
  top: 230px;
  left: 5%;
  width: 0px;
  height: auto;
  
}

#box_3 
{
  
  position: relative;
  top: -350px;
  left: 38%;
  width: 0px;
  height: auto;
  
}

#box_4 
{
  
  position: relative;
  top: -150px;
  left: 38%;
  width: 0px;
  height: auto;

  
}

#box_5
{
  
  position: relative;
  top: -555px;
  left: 23%;
  width: 0px;
  height: auto;
  
}

#box_6
{
  
  position: relative;
  top: -750px;
  left: 80%;
  width: 0px;
  height: auto;
  
}

#box_7
{
  
  position: relative;
  top: -625px;
  left: 80%;
  width: 0px;
  height: auto;
  
}

#box_8
{
  
  position: relative;
  top: -830px;
  left: 23%;
  width: 0px;
  height: auto;
  
}


/*Teksten naast de plaatjes op het grijze vak*/

#tekst
{
  
  position:absolute;
  padding-top: 465px;
  padding-left: 330px;
  font-family:'poppins',sans-serif
}

#tekstb
{ 
position:absolute;
padding-top: 100px;
padding-left: 330px;
font-family:'poppins',sans-serif

}

#tekstc
{ 
position:absolute;
padding-top: 100px;
padding-left: 820px;
font-family:'poppins',sans-serif

}

#tekstd
{ 
position:absolute;
padding-top: 500px;
padding-left: 830px;
font-family:'poppins',sans-serif

}

#tekste
{ 
position:absolute;
padding-top: 300px;
padding-left: 605px;
font-family:'poppins',sans-serif

}


#tekstf
{ 
position:absolute;
padding-top: 340px;
padding-left: 990px;
font-family:'poppins',sans-serif
}

#tekstg
{ 
position:absolute;
padding-top: 700px;
padding-left: 990px;
font-family:'poppins',sans-serif
}

#teksth
{ 
position:absolute;
padding-top: 700px;
padding-left: 120px;
font-family:'poppins',sans-serif
}

/* de knop, eigenschappen*/
.knop {
  background-color: #fff9b3;
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px 100px;
  text-align: center;
  text-decoration: none;
  display:inline;
  position:absolute;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
/*de knop, locatie*/
#locatie{
  padding-bottom: px;
  padding-left: 100px;
}

#loctekst{
  padding-left: 500px;
  font-size: 50px;
  
}
