body
/*achtergrond kleur*/
{
    background-color: #4b371c;
}


/* Navbar, de balk waar alles in staat*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
  }
  /*Plaats van de tekst & de knoppen.*/
  li {
    float: left;
  }
  /*Structuur van de knoppen en style van de tekst erin.*/
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
  

  /*Fade-in animatie knoppen in de Navbar*/

  li a:hover:not(.active) {
    background-color: rgba(0, 255, 89, 0.437);
    border-style:solid;
    animation: fadeIn 1s;        /*Duratie "Fade-in Animatie"*/
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  



  /*Kleur, eigenschappen "reserveer knop" navbar*/

  .active {
    background-color: #04AA6D;
    position: sticky;
  }

/*achtergrond-box*/
#achtergrond-box
{
    width: 1410px;
    height: 565px;
   
    position: relative;
    top: 10px;
    left: 50px;

}

#tekst
{
  text-align: center;
  padding-top: 0px;
}

#wrapper{
  position: relative;
  width: 200px;
  height: 200px;
}

.content{
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
  position: relative;
  z-index: 100;
}

.background{
  color: #999999;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: -100;
  width: 1400px;
  height: 550px;
  background: rgb(123, 123, 123);
  position: relative;
 
}